---
const { offre } = Astro.props;
const imageUrl = `/pocketbase/files/${offre.id}/${offre.image}`;
---

<div class="p-4 bg-white shadow-md rounded-md">
    <img
        src={imageUrl}
        alt="Image de {offre.nomMaison}"
        class="w-full h-40 object-cover rounded-md mb-2"
    />
    <h3 class="text-lg font-bold">{offre.nomMaison}</h3>
    <p class="text-sm text-gray-600">
        {offre.prix}€ - {offre.nbChambres} chambres, {offre.nbSdb} salles de bain
    </p>
    <p class="text-sm text-gray-600">{offre.surface}m²</p>
</div>
